/* ADD YOUR STYLES HERE */
/* Signup Form */

.sign {
	display: inline-block;
	box-sizing: border-box;
	text-align: right;
}

.prompt {
 	padding-right: 10px;
 	margin-left: 50px;
}

.inputDisplay {
	border-radius: 5px;
	border: 1px solid #ccc;
	margin: 10px;
	height: 25px;
}

.displayLarge {
	width: 300px;
}

.displaySmall {
	width: 30px;
}

.displayMedium {
	width: 200px;
}

.button1 {
	background-color: lightgrey;
	border: 0;
	width: 300px;
	border-radius: 5px;
	padding: 10px;
}
.button1:hover {
	background-color: darkgrey;
}

input[type="checkbox"] {
	margin-right: 10px;
}
.spacing {
	padding: 10px 110px 10px 0;
}

/* Form Validation */
.whiteSpace {
	padding: 25px;
}

.valid {
	box-shadow: 0 0 5px #3EDB39;
}

.invalid {
	box-shadow: 0 0 5px #FA0000;
}

.is-valid {
	color: #3EDB39;

}

.is-invalid { 
	color: #FA0000;
}

/* Search Bar */

.search-bar {
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #ccc;
	padding: 10px 20px;
}

.column {
	position: relative;
}

.left {
	position: absolute;
	top: 13px;
	left: 13px;
}

.center {
	margin: 0 70px 0 85px;
}

.right {
	position: absolute;
	width: 65px;
	top: 10px;
	right: 10px;
}

.fill {
	width: 100%;
}

.label {
	line-height: 26px;
}

.button2 {
	background-color: #FC7E7E;
	color: white;
	border-radius: 5px;
	font-size: 14px;
	border: 0;
}

/* Omnibox */

.tags {
	position: absolute;
	list-style: none;
	padding: 0;
	line-height: 22px;	
}
.omnibox-label {
	display: inline;
	color: #fff;
	background-color: #828aec;
	margin: 3px;
	padding: 3px 6px 3px 3px;
	font-size: 12px;
	border-radius: 5px;
}
.omnibox-color {
	color: #ccc;
	background-color: #5D52BF;
	border-radius: 3px;
	padding: 0 3px;
	margin-right: 3px;
	text-decoration: none;
}
.omni-input {
	padding-left: 220px;
}

/*Chunky List*/

